<%- include('../partials/head') %>

<h3>Hello world!</h3>

<p>Live editing is supported. Make a change, save a file, and watch it update!</p>

<p>Here's a <a href="/platforms">link to another page</a>.</p>

<%- include('../partials/tail') %>
